In [4]:
import pandas as pd
import numpy as np
import xlrd

In [5]:
df = pd.read_excel('Data/fut_disagg_xls_2021/f_year.xls', 'XLS')
df.head()

,Market_and_Exchange_Names,As_of_Date_In_Form_YYMMDD,Report_Date_as_MM_DD_YYYY,CFTC_Contract_Market_Code,CFTC_Market_Code,CFTC_Region_Code,CFTC_Commodity_Code,Open_Interest_All,Prod_Merc_Positions_Long_ALL,Prod_Merc_Positions_Short_ALL,...,Conc_Gross_LE_4_TDR_Short_Other,Conc_Gross_LE_8_TDR_Long_Other,Conc_Gross_LE_8_TDR_Short_Other,Conc_Net_LE_4_TDR_Long_Other,Conc_Net_LE_4_TDR_Short_Other,Conc_Net_LE_8_TDR_Long_Other,Conc_Net_LE_8_TDR_Short_Other,Contract_Units,CFTC_SubGroup_Code,FutOnly_or_Combined
0,WHEAT-SRW - CHICAGO BOARD OF TRADE,211228,2021-12-28,001602,CBT,0,1,356439,36136,109537,...,19.6,36.9,30.3,17.9,14.3,30.4,23.2,"(CONTRACTS OF 5,000 BUSHELS)",A10,FutOnly
1,WHEAT-SRW - CHICAGO BOARD OF TRADE,211221,2021-12-21,001602,CBT,0,1,357381,34715,108341,...,19.9,35.9,31.3,17.5,15.7,30.2,25.1,"(CONTRACTS OF 5,000 BUSHELS)",A10,FutOnly
2,WHEAT-SRW - CHICAGO BOARD OF TRADE,211214,2021-12-14,001602,CBT,0,1,361469,31389,106281,...,21.1,36.5,32.1,17.7,16.5,29.8,25.3,"(CONTRACTS OF 5,000 BUSHELS)",A10,FutOnly
3,WHEAT-SRW - CHICAGO BOARD OF TRADE,211207,2021-12-07,001602,CBT,0,1,359186,30223,108626,...,22.2,38.1,34.0,19.0,18.2,31.2,26.8,"(CONTRACTS OF 5,000 BUSHELS)",A10,FutOnly
4,WHEAT-SRW - CHICAGO BOARD OF TRADE,211130,2021-11-30,001602,CBT,0,1,371575,32389,113621,...,23.2,38.4,34.9,20.1,19.8,32.2,28.5,"(CONTRACTS OF 5,000 BUSHELS)",A10,FutOnly

In [12]:
df.groupby('Market_and_Exchange_Names')[['Report_Date_as_MM_DD_YYYY', 'CFTC_Region_Code']].head()

      Report_Date_as_MM_DD_YYYY  CFTC_Region_Code
0                    2021-12-28                 0
1                    2021-12-21                 0
2                    2021-12-14                 0
3                    2021-12-07                 0
4                    2021-11-30                 0
...                         ...               ...
10689                2021-12-28                 1
10690                2021-12-21                 1
10691                2021-12-14                 1
10692                2021-12-07                 1
10693                2021-11-30                 1

[1251 rows x 2 columns]