In [1]:
import numpy as np
import pandas as pd

In [84]:
df = pd.read_csv('Data\StarWars.csv', sep=';')
df.info()
df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1186 entries, 0 to 1185
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   respondentID          1186 non-null   int64
 1   seen                  1186 non-null   object
 2   fan                   836 non-null    object
 3   gender                1046 non-null   object
 4   age_group             1046 non-null   object
 5   income                858 non-null    object
 6   loc                   1043 non-null   object
 7   yoda                  826 non-null    object
 8   princess_leia_organa  831 non-null    object
dtypes: int64(1), object(8)
memory usage: 83.5+ KB

,respondentID,seen,fan,gender,age_group,income,loc,yoda,princess_leia_organa
0,3292879998,да,да,М,18-29,NaN,Южно-Атлантический,очень нравится,очень нравится
1,3292879538,нет,NaN,М,18-29,0 - 24.999,Юго-Западный центральный,NaN,NaN
2,3292765271,да,нет,М,18-29,0 - 24.999,Северо-Западный центральный,не знаю такого персонажа,нравится
3,3292763116,да,да,М,18-29,100.000 - 149.999,Северо-Западный центральный,очень нравится,очень нравится
4,3292731220,да,да,М,18-29,100.000 - 149.999,Северо-Западный центральный,нравится,нравится

Укажите, верно ли следующее утверждение: все женщины старше 60 лет, входящие в категорию с наивысшим доходом и являющиеся фанатами серии фильмов, проживают в одном регионе.
Ответ: Неверно

In [28]:
df[(df['age_group'] == '> 60') &
         (df['income'] == '150.000+') &
         (df['gender'] == 'Ж') &
         (df['fan'] == 'да')]

,respondentID,seen,fan,gender,age_group,income,loc,yoda,princess_leia_organa
162,3291141478,да,да,Ж,> 60,150.000+,Тихоокеанский,очень нравится,очень нравится
522,3290342102,да,да,Ж,> 60,150.000+,Северо-Западный центральный,очень нравится,очень нравится
671,3289963393,да,да,Ж,> 60,150.000+,Горный,очень нравится,очень нравится

Какой регион проживания чаще всего встречается в данных? Выберите один верный ответ.

In [43]:
df['loc'].value_counts()

Северо-Восточный центральный    181
Тихоокеанский                   175
Южно-Атлантический              170
Средне-Атлантический            122
Юго-Западный центральный        110
Северо-Западный центральный      93
Горный                           79
Новая Англия                     75
Юго-Восточный центральный        38
Name: loc, dtype: int64

Сколько респондентов не назвали свой доход? Выберите один верный ответ.

In [57]:
df[df['income'].isna()].shape

(328, 9)

Скольким респондентам одновременно очень нравятся Йода и принцесса Лея Органа? Выберите один верный ответ.

In [60]:
df[(df['yoda'] == 'очень нравится') & (df['princess_leia_organa'] == 'очень нравится')].shape

(462, 9)

Сколько респондентов не видели ни одного фильма серии, но считают себя ее фанатами? Введите ответ в виде целого числа.

In [66]:
df['fan'][df['seen'] == 'нет'].unique()

array([nan], dtype=object)

In [70]:
df.head()

,respondentID,seen,fan,gender,age_group,income,loc,yoda,princess_leia_organa
0,3292879998,да,да,М,18-29,NaN,Южно-Атлантический,очень нравится,очень нравится
1,3292879538,нет,NaN,М,18-29,0 - 24.999,Юго-Западный центральный,NaN,NaN
2,3292765271,да,нет,М,18-29,0 - 24.999,Северо-Западный центральный,не знаю такого персонажа,нравится
3,3292763116,да,да,М,18-29,100.000 - 149.999,Северо-Западный центральный,очень нравится,очень нравится
4,3292731220,да,да,М,18-29,100.000 - 149.999,Северо-Западный центральный,нравится,нравится

In [69]:
df[(df['age_group'] == 'NaN') &
         (df['income'] == 'NaN') &
         (df['gender'] == 'NaN') &
         (df['fan'] == 'NaN')]

(1186, 9)

In [88]:
all(df[['seen', 'fan', 'gender', 'age_group', 'income', 'loc', 'yoda', 'princess_leia_organa']] == 'NaN')

True

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1186 entries, 0 to 1185
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   respondentID          1186 non-null   int64
 1   seen                  1186 non-null   object
 2   fan                   836 non-null    object
 3   gender                1046 non-null   object
 4   age_group             1046 non-null   object
 5   income                858 non-null    object
 6   loc                   1043 non-null   object
 7   yoda                  826 non-null    object
 8   princess_leia_organa  831 non-null    object
dtypes: int64(1), object(8)
memory usage: 83.5+ KB

In [92]:
df['seen'].value_counts().sum()

1186