In [1]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('Data\ScrabbleGames.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37466 entries, 0 to 37465
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   gameid           37466 non-null  int64
 1   tourneyid        37466 non-null  int64
 2   tie              37466 non-null  int64
 3   winnerid         37466 non-null  int64
 4   winnername       37466 non-null  object
 5   winnerscore      37466 non-null  int64
 6   winneroldrating  37466 non-null  int64
 7   winnernewrating  37466 non-null  int64
 8   winnerpos        37466 non-null  int64
 9   loserid          37466 non-null  int64
 10  losername        37466 non-null  object
 11  loserscore       37466 non-null  int64
 12  loseroldrating   37466 non-null  int64
 13  losernewrating   37466 non-null  int64
 14  loserpos         37466 non-null  int64
 15  round            37466 non-null  int64
 16  division         37466 non-null  int64
 17  date             37466 non-null  object
 18  lexicon          37466 non-null  int64
 19  year             37466 non-null  int64
dtypes: int64(17), object(3)
memory usage: 5.7+ MB

In [18]:
df.groupby('tourneyid')[['winnerscore', 'winnernewrating']].mean().corr()

                 winnerscore  winnernewrating
winnerscore         1.000000        -0.604013
winnernewrating    -0.604013         1.000000

In [19]:
df.groupby('tourneyid')[['winnerscore', 'loserscore']].mean().corr()

             winnerscore  loserscore
winnerscore     1.000000    0.999938
loserscore      0.999938    1.000000

In [20]:
df.winnerscore.corr(df.winnernewrating)

0.07533405597041623

In [22]:
round(df.groupby('tourneyid')[['winnernewrating', 'losernewrating']].mean().corr(),2)

                 winnernewrating  losernewrating
winnernewrating             1.00            0.98
losernewrating              0.98            1.00

In [23]:
round(df.groupby('tourneyid')[['winnerscore', 'loserscore']].mean().corr(), 2)

             winnerscore  loserscore
winnerscore          1.0         1.0
loserscore           1.0         1.0

In [36]:
df[df['round'] == 1].groupby('tourneyid')[['winnerscore', 'loserscore']].mean().corr()

             winnerscore  loserscore
winnerscore     1.000000    0.999897
loserscore      0.999897    1.000000

In [37]:
df.groupby('tourneyid')[['winnerscore', 'tie']].mean().corr()

             winnerscore       tie
winnerscore     1.000000 -0.080284
tie            -0.080284  1.000000

In [39]:
df.groupby('tourneyid')[['tie', 'loserscore']].mean().corr()

                 tie  loserscore
tie         1.000000   -0.080069
loserscore -0.080069    1.000000

In [59]:
round(df[df.winnername == df.winnername.value_counts().index[0]].groupby('tourneyid')[['winnerscore', 'winneroldrating']].mean().corr(), 2)

                 winnerscore  winneroldrating
winnerscore             1.00             0.05
winneroldrating         0.05             1.00

In [60]:
round(df[df.winnername == 'Stuart Goldman'].groupby('tourneyid')[['winnerscore', 'winneroldrating']].mean().corr(), 2)

                 winnerscore  winneroldrating
winnerscore              1.0             -0.5
winneroldrating         -0.5              1.0

In [64]:
round(df[df.tourneyid == 4376][['winnerscore', 'loserscore']].corr(), 2)

             winnerscore  loserscore
winnerscore         1.00       -0.25
loserscore         -0.25        1.00