Мой блокнот для курса "Статистика для Анализа данных от ВШЭ"

In [1]:
import pandas as pd
import numpy as np

In [2]:
url = 'https://courses.openedu.ru/assets/courseware/v1/8d2f7aeef389659e393201af977b99b5/asset-v1:hse+STATDA+2021+type@asset+block/BikesDataVars.pkl'

In [3]:
df = pd.read_pickle(url)
df.head(5)

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Rental Count,Normal Humidity,Temperature Category,Good Weather
0,2017-12-01,0,-5.2,37,2.2,0.0,0.0,Winter,0,True,257,0,Freezing,0
1,2017-12-01,1,-5.5,38,0.8,0.0,0.0,Winter,0,True,219,0,Freezing,0
2,2017-12-01,2,-6.0,39,1.0,0.0,0.0,Winter,0,True,162,0,Freezing,0
3,2017-12-01,3,-6.2,40,0.9,0.0,0.0,Winter,0,True,148,1,Freezing,0
4,2017-12-01,4,-6.0,36,2.3,0.0,0.0,Winter,0,True,97,0,Freezing,0

In [19]:
xx = [1, 2, 3]
yy = [1, 3, 5]
print([i+j for i, j in zip(xx, yy)])

[2, 5, 8]

In [23]:
M = np.array([xx,yy])
print(f'Matrix {M}, SHAPE {M.shape}, SIZE {M.size}')

Matrix [[1 2 3]
 [1 3 5]], SHAPE (2, 3), SIZE 6

In [ ]:
import time

size: int = 1_000_000

In [2]:
x = [13, 21, 30, 65, 50]
y = [200, 90, 10, 83, 12]

In [8]:
df = pd.DataFrame({'x': x, 'y': y}, index=range(len(x)))
df.corr()

          x         y
x  1.000000 -0.506545
y -0.506545  1.000000